<launch>
  <!-- launch turtlebot3_autorace_camera_calibration.launch before launch this file -->

  <!-- traffic sign detection -->
  <node pkg="turtlebot3_autorace_detect" type="detect_sign" name="detect_sign" output="screen">
    <remap from="/detect/image_input" to="/camera/image_compensated" />
    <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
    <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
    <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
  </node>
</launch>