<launch>
  <!-- launch turtlebot3_autorace_extrinsic_camera_calibration.launch before launch this file -->

  <arg name="calibration_mode" default="$(env AUTO_DT_CALIB)" doc="calibration_mode type [calibration, action]"/>

  <!-- parking lot detection -->
  <node pkg="turtlebot3_autorace_detect" type="detect_parking" name="detect_parking" output="screen">
    <param if="$(eval calibration_mode == 'calibration')" name="/is_detection_calibration_mode" value="True"/>
    <param if="$(eval calibration_mode == 'action')" name="/is_detection_calibration_mode" value="False"/>    
    <remap from="/detect/image_input" to="/camera/image_projected_compensated" />
    <remap from="/detect/image_input/compressed" to="/camera/image_projected_compensated/compressed" />
    <remap from="/detect/scan" to="/scan" />
    <remap from="/detect/image_output" to="/detect/image_parking" />
    <remap from="/detect/image_output/compressed" to="/detect/image_parking/compressed" />
  </node>
</launch>